name: "Set up binary cache"

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - .github/**
      - assets/**
      - .gitignore

jobs:
  cachix:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        package:
          - default
          - nix
          - maximal
    steps:
      - uses: actions/checkout@v6
        name: Checkout

      - name: Install Nix
        uses: cachix/install-nix-action@v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            substituters = https://cache.nixos.org/ https://feel-co.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= feel-co.cachix.org-1:nwEFNnwZvtl4KKSH5LDg+/+K7bV0vcs6faMHAJ6xx0w=

      - uses: cachix/cachix-action@v16
        with:
          authToken: ${{ secrets.CACHIX_TOKEN }}
          extraPullNames: nix-community
          name: neovim-flake

      - name: Set default git branch (to reduce log spam)
        run: git config --global init.defaultBranch main

      - name: Validate Flakes
        run: nix flake check

      - name: Build neovim-flake with default settings
        run: nix build .#${{ matrix.package }} --print-build-logs
